body {
  font-family: sans-serif;
}
#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #fafad2;
  overflow-y: scroll;
  padding-left: 1rem;
}
#sidebar h4 {
  margin-bottom: 0.3rem;
}
#mainArea {
  margin-left: 200px;
}
#orderControl {
  padding-left: 0.3rem;
  margin-bottom: 0.3rem;
}
.sel-control {
  display: block;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}
.state-cb {
  padding: 0.18rem;
  padding-right: 0.8rem;
}
