doctype html
html
    include head.pug
    script(src="js/states.js")

    body
        div#sidebar
            h4 Metric
            select#metricSelect(onchange="changeMetric(event)")

            h4 States
            div#orderControl
                label(for="sortSelect") Order States By
                select#sortSelect(onchange="changeSort(event)")
                    option(value="alpha" selected) Alphabetical
                    option(value="metric") Metric
                    option(value="pop") Population
                    option(value="density") Density
                    option(value="percent") Percent

            button.sel-control(onclick="selSome('all')") All
            button.sel-control(onclick="selSome('top10')") Top 10
            button.sel-control(onclick="selSome('bot10')") Bottom 10

            div#stateList



        div#mainArea
            div#plot

        include footer.pug
